<div class="about-page">
<div class="about-section">
    <h1>About Us </h1>
  </div>
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h3 style="color:#af3131;">About Store</h3>
        <div class="col-lg-6 welcome-left">
          <h4 class="my-sm-3 my-2">At E Zone all the products on our website are distinguished based on their categories, which gives you the hassle-free shopping experience ever with minimum time spent for your shopping.</h4>
        </div>
  
        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img src="assets/ecom/logo.png" class="img-fluid" alt=" ">
        </div>
        <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#af3131;">&ensp;What We Do</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality products with convenient rate. To have a more convenient shopping experience , we deliver your selected products at your doorstep. As in today's era every person sense short in time & also its hard to find if the consumable products are healthy/natural. So to tackle this issue we serve you with the finest & hand-picked products from all the categories,
          to save your time from the conventional shopping as well as
           from the problems like getting stuck in long queues, the parking fees to be paid, carrying you heavy shopping bags & etc.Begin your journey online with one of the fastest growing, e-commerce brands in the country and have a seamless online shopping experience. Immerse yourself in the joy of browsing through the best Indian and international brands in fashion, appliances, electronics and toys and games.</h4>
        </div>
        <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#af3131;">&ensp;Our Vision</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">
          <li>Redefining India's freshest and finest shopping experience by 2024.</li>
          <li>To provide a brighter customer experience with an assortment of highest level of service. </li>
          <li>To spread the joy of service.</li>
          </h4>
        </div>
        
      </div>
    </div>
  </div>
  <footer>
  <div class="footer-box">
   
  </div>
  <div class="clearfix"></div>
  </footer>
  
  <!-- Adding Copyright -->
  <div class="copy">
  <p> <b> Copyright &copy; 2023 &#x2758; Design & Developed &#x2764; by  E Zone. </b></p>
  </div>
  
</div>