<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[0]">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[1]">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[2]">
    </div>

  </ng-template>
</ngb-carousel>


<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="menu-section-heading">Explore Products</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/realme-book-.png" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Realme Book</h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Samsung_Galaxy_S23.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Samsung s23 ultra</h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Talking_toy.webp" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Dancing Cactus Toy</h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Catch_fish.webp" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Fish Catching Game</h1>

        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Indigo-blue.avif" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Chanderi Saree</h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/shirt.avif" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Men shirt</h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Fan.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">Sleek Ceiling Fans </h1>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-3 pointer" (click)="gotoLogin()">
        <div class="shadow menu-item-card p-3 mb-3">
          <img src="assets/ecom/Speaker.jpg" class="menu-item-image w-100" />
          <h1 class="menu-card-title">JBL Go 3</h1>
        </div>

      </div>
    </div>

  </div>
</div>
<footer>
  <div class="footer-box">
   
  </div>
  <div class="clearfix"></div>
  </footer>
  
  <!-- Adding Copyright -->
  <div class="copy">
  <p> <b> Copyright &copy; 2023 &#x2758; Design & Developed &#x2764; by  E Zone. </b></p>
  </div>
<!-- <div class="footer-section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="" class="food-munch-logo" />
        <h1 class="footer-section-mail-id"></h1>
        <p class="footer-section-address">

        </p>
      </div>
    </div>
  </div>
</div> -->