.main
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    align-items: center;
    color: black;
    font-size: 20px;
    text-decoration:overline;
}
.main > .selected {
    background: grey;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}

.user-name-item {
    display: flex;
    align-items: center;
}

.main div
{
    cursor: pointer;
}

.main img {
    height: 111px;
    width: 200px;
}
.main .account{
    width:30px;
    height:30px;
}